<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>My Website</title>
</head>
<body>

    <header class="mb-2">
        <nav class="navbar navbar-dark bg-primary">
            <ul class="nav1">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/login">Login</a></li>
            </ul>
        </nav>
    </header>