<form action="/search" method="POST" class="form-inline my-2 my-lg-0 d-flex justify-content-between">
    <button class="btn btn-secondary my-2 my-sm-0 m-1" type="submit">Search</button>
    <input
        class="form-control ml-sm-2"
        type="text"
        name="search"
        placeholder="Search"
        aria-label="Search"
    />
</form>
