<%- include("./includes/header.ejs") %> 

<form
    id="loginForm"
    class="form-signin"
    action="/users/reset-password/<%= userId %> "
    method="POST"
>
    <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
    <%- include("./includes/loginMessage.ejs") %>
    <label for="inputEmail" class="sr-only">Password</label>
    <input
        type="email"
        name="password"
        id="inputEmail"
        class="form-control mb-2"
        placeholder="Password"
        required
        autofocus
    />
    <label for="inputEmail" class="sr-only">Confirm Password</label>
    <input
        type="email"
        name="confirmPassword"
        id="inputEmail"
        class="form-control mb-2"
        placeholder="Confirm Password"
        required
        autofocus
    />
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Change Password
    </button>
</form>
