*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer{
    width: 100%;
    height: 6vh;
}

.nav1{
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-items: center;
}

.nav1 li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}


/*? Forms */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}